$nav-text-decoration: underline;
$padding-left: 0rem;
$width: 48%;
$border-color: lightgrey;
$border-width: 1px;
$border: none;
$border-radius: 5px;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

ul {
    padding-left: $padding-left;
}

.list-group-item:hover {
    text-decoration: $nav-text-decoration;
}

.sign-in_sign-up {
    width: $width;
}