// $font-family: 'Open Sans', sans-serif;
$primary: #30CD78;
$secondary: #DFDFDF;
$tertiary: #E8E8E8;
$success: #198754;
$green: #006616;
$grid-columns: 16;

@import "../node_modules/bootstrap/scss/bootstrap.scss";